<%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
  
  <%= f.submit %>
<% end %>
<h1>ホテルの一覧</h1>



<div class="container">
	<div class="row">
	    <% @hotels.each do |hotel| %>
			<div class="col-md-3">
				<div class="card">
					 <img src="<%= hotel.picture_url %>" class="card-img-top" alt="...">
 					<div class="card-body">
						<h5 class="card-title"><%= hotel.name %></h5>
						<p class="card-text"><%= hotel.description %></p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
			</div>
	    <% end %>
	</div>
</div> 

